<div
  class="
    add-recipe-wrapper
    flex flex-col
    items-center
    content-center
    justify-center
    w-full
    h-full
  "
>
  <h2 class="text-dark/80 inline-block text-3xl font-bold">New Recipe</h2>

  <form
    #form="ngForm"
    class="
      h-5/6
      mt-7
      flex flex-col
      content-center
      w-1/2
      pr-5
      overflow-y-auto
      scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary-200
    "
  >
    <div class="form-field mb-5">
      <input
        class="textbox"
        ngModel
        #titleField="ngModel"
        name="name"
        type="text"
        placeholder="Recipe Name"
        required
      />
      <ng-container *ngIf="showValidationErrors && titleField.invalid">
        <p class="text-primary-300" *ngIf="titleField.errors?.['required']">
          Please enter a recipe name
        </p>
      </ng-container>
    </div>

    <div class="form-field mb-5">
      <textarea
        class="textarea"
        ngModel
        name="description"
        placeholder="Description"
      ></textarea>
    </div>

    <input
      type="file"
      class="file-input"
      accept="image/*"
      (change)="onFileSelected($event)"
      #fileUpload
    />

    <div class="file-upload form-field">
      <button class="btn mr-5" (click)="fileUpload.click()">Browse</button>

      <div class="inline-flex display-file items-center align-middle h-10">
      <div *ngIf="fileSelected; else noFile">
        <div class="flex items-center" *ngIf="!notAnImage; else noImage">
          <span class="mr-2">{{ fileName }}</span> <span class="material-icons-outlined icon text-xl" (click)="removeFile()">close</span>
        </div>
      </div>

      <ng-template #noImage> <span class="text-primary-300">Unsupported file type</span> </ng-template>
      <ng-template #noFile> No file selected </ng-template>
      </div>
    </div>

    <hr class="separator" />

    <div class="form-field mb-5">
      <textarea
        class="textarea"
        ngModel
        name="ingredients"
        placeholder="Ingredients (one per line)"
      ></textarea>
    </div>

    <div class="form-field">
      <textarea
        class="textarea"
        ngModel
        name="steps"
        placeholder="Steps (one per line)"
      ></textarea>
    </div>

    <hr class="separator" />

    <div class="form-field mb-5">
      <h3 class="form-field-label">Prep Time</h3>
      <input class="input-box" type="number" name="prepHours" ngModel /><span
        class="input-box-label mr-5"
        >Hours</span
      >
      <input class="input-box" type="number" name="prepMinutes" ngModel /><span
        class="input-box-label"
        >Minutes</span
      >
    </div>

    <div class="form-field">
      <h3 class="form-field-label">Cook Time</h3>
      <input class="input-box" type="number" name="cookHours" ngModel />
      <span class="input-box-label mr-5">Hours</span>
      <input class="input-box" type="number" name="cookMinutes" ngModel /><span
        class="input-box-label"
        >Minutes</span
      >
    </div>

    <hr class="separator" />

    <div class="form-field mb-5">
      <h3 class="form-field-label">Number of servings:</h3>
      <input class="input-box w-32" type="number" name="servings" ngModel />
    </div>

    <div class="form-field">
      <h3 class="form-field-label">Calories:</h3>
      <input class="input-box w-32" type="number" name="calories" ngModel />
    </div>

    <hr class="separator" />

    <div class="form-field">
      <textarea
        class="textarea"
        ngModel
        name="notes"
        placeholder="Notes"
      ></textarea>
    </div>

    <div class="btns-container">
      <a role="button" (click)="back()" class="btn">Cancel</a>
      <button class="btn align-end" (click)="submitForm(form)">
        Create Recipe
      </button>
      <ng-container *ngIf="showValidationErrors && titleField.invalid">
        <div class="align-center inline-flex items-center justify-center">
          <p class="text-primary-300" *ngIf="titleField.errors?.['required']">
            Please fix errors
          </p>
        </div>
      </ng-container>
    </div>
  </form>
</div>
