<div class="recipe-book-wrapper flex w-full h-full gap-12">
  <div class="max-h-100 container flex flex-col basis-1/5 gap-5">
    <div class="btns-container justify-between mt-1 px-5">
      <a>
        <span class="material-icons-outlined icon">sort</span>
      </a>
      <a routerLink="/recipes/add">
        <span class="material-icons-outlined icon">add</span>
      </a>
    </div>
    <div
      class="
        recipe-list-wrapper
        flex flex-col flex-grow
        w-full
        gap-5
        px-5
        pb-5
        overflow-y-auto
        styled-scrollbar
      "
    >
      <ng-container *ngIf="!recipesEmpty">
        <a
          routerLinkActive="selected bg-dark/10 hover:bg-dark/10"
          class="w-full hover:bg-dark/5 transition-all duration-75 ease-in"
          [routerLink]="['/recipes', recipe._id]"
          *ngFor="let recipe of recipes"
        >
          <app-recipe-card [recipe]="recipe"></app-recipe-card>
        </a>
      </ng-container>

      <ng-container *ngIf="recipesEmpty">
        <div class="w-full h-full text-dark/50 text-center text-lg">
          No Recipes Saved
        </div>
      </ng-container>
    </div>
  </div>

  <div class="flex-grow basis-4/5">
    <app-recipe-view
      *ngIf="recipe"
      class="w-full"
      [recipe]="recipe"
    ></app-recipe-view>
  </div>
</div>
