<nav
  class="
    navbar
    tabs
    flex
    justify-start
    w-full
    gap-10
    py-4
    pl-10
    text-3xl
    font-black
    leading-none
    text-light
    uppercase
    content-center
    bg-primary-300
    transition-all
    ease-in-out
  "
>
  <a
    routerLink="recipes"
    routerLinkActive="selected before:bg-light"
    class="tab recipes-tab"
  >
    <div class="tab-tile">
      <h3>Recipes</h3>
    </div>
  </a>

  <a
    routerLink="meal-plan"
    routerLinkActive="selected before:bg-light"
    class="tab meal-plan-tab"
  >
    <div class="tab-tile">
      <h3>Meal Plan</h3>
    </div>
  </a>

  <a
    routerLink="shopping-list"
    routerLinkActive="selected before:bg-light"
    class="tab shopping-list-tab"
  >
    <div class="tab-tile">
      <h3>Shopping List</h3>
    </div>
  </a>
</nav>
