<div
  class="
    recipe-view-wrapper
    bg-dark/10
    rounded-2xl
    relative
    flex
    w-full
    h-full
    gap-16
    p-5
    overflow-hidden
  "
>
  <ng-container *ngIf="recipe">
    <div class="recipe-header flex flex-col items-center w-1/4 h-full">
      <div *ngIf="imgPath" class="rounded-md bg-contain bg-no-repeat w-full aspect-1 bg-center" [style.background-image]="'url(' + imgPath + ')'"></div>
      <div
        class="
          recipe-summary
          h-1/2
          max-h-72
          scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary-200
          flex flex-col
          justify-start
          gap-5
          px-3
          my-auto
          overflow-y-auto
        "
      >
        <h3 class="text-4xl font-extrabold text-center">
          {{ recipe.title }}
        </h3>
        <ng-container *ngIf="recipe.description">
          <p class="text-lg font-semibold text-center">
            {{ recipe.description }}
          </p>
        </ng-container>

        <ng-container *ngIf="recipe.servings">
          <div class="recipe-serving-size text-lg font-semibold text-center">
            {{ recipe.servings }} servings
          </div>
        </ng-container>
        <div class="recipe-times">
          <ng-container
            *ngIf="recipe.prepTime['hours'] || recipe.prepTime['minutes']"
          >
            <div class="recipe-prep-time text-lg font-semibold text-center">
              PREP TIME:
              {{
                recipe.prepTime["hours"] > 0
                  ? recipe.prepTime["hours"] + " hours"
                  : ""
              }}
              {{
                recipe.prepTime["minutes"]
                  ? recipe.prepTime["minutes"] + " minutes"
                  : ""
              }}
            </div>
          </ng-container>
          <ng-container
            *ngIf="recipe.cookTime['hours'] || recipe.cookTime['minutes']"
          >
            <div class="recipe-cook-time text-lg font-semibold text-center">
              COOK TIME:
              {{
                recipe.cookTime["hours"] > 0
                  ? recipe.cookTime["hours"] + " hours"
                  : ""
              }}
              {{
                recipe.cookTime["minutes"]
                  ? recipe.cookTime["minutes"] + " minutes"
                  : ""
              }}
            </div>
          </ng-container>
        </div>

        <!-- <ng-container *ngIf="recipe.tags"> -->
        <div class="recipe-tags text-lg font-semibold text-center">
          Chicken, Pasta, Gluten Free
        </div>
        <!-- </ng-container> -->
      </div>
    </div>

    <div class="recipe-detail flex flex-col flex-grow pr-16">
      <div
        class="
          recipe-ingredients
          solid
          border-dark/30
          flex flex-col flex-1
          pt-5
          pb-5
          overflow-hidden
          border-b-2
        "
      >
        <div class="recipe-ingredients-title text-xl font-semibold uppercase">
          Ingredients
        </div>
        <ul
          class="
            recipe-ingredient-list
            scrollbar-track-transparent
            scrollbar-thumb-primary-200
            scrollbar-thin
            w-full
            px-5
            pt-3
            overflow-y-auto
          "
        >
          <li class="ingredient" *ngFor="let ingredient of ingredients">
            {{ ingredient.quantity }}
            <ng-container *ngIf="ingredient.quantity2">
              - {{ ingredient.quantity2 }}
            </ng-container>
            {{ ingredient.unitOfMeasure }}
            {{ ingredient.description }}
          </li>
        </ul>
      </div>

      <div class="recipe-steps flex flex-col flex-1 pt-5 pb-5">
        <div class="recipe-steps-title text-xl font-semibold uppercase">
          Steps
        </div>
        <ul
          class="
            recipe-step-list
            scrollbar-track-transparent
            scrollbar-thumb-primary-200
            scrollbar-thin
            w-full
            px-5
            pt-3
            overflow-y-auto
          "
        >
          <li class="step">Step 1</li>
          <li class="step">Step 2</li>
          <li class="step">Step 3</li>
          <li class="step">Step 4</li>
          <li class="step">Step 5</li>
        </ul>
      </div>
      <ng-container *ngIf="recipe.notes">
        <div
          class="
            recipe-notes
            border-dark/30
            flex flex-col
            pt-5
            pb-5
            border-t-2 border-solid
          "
        >
          <div class="recipe-notes-title text-xl font-semibold uppercase">
            Notes
          </div>
          <div
            class="
              recipe-notes
              scrollbar-track-transparent
              scrollbar-thumb-primary-200
              scrollbar-thin
              w-full
              px-5
              pt-3
              overflow-y-auto
              text-lg
            "
          >
            {{ recipe.notes }}
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <button
    #toggleButton
    (click)="toggleOptions()"
    class="top-3 right-5 absolute"
    (clickOutside)="closeMenu($event)"
  >
    <span class="material-icons-outlined icon">more_horiz</span>
  </button>
  <div
    #optionsMenu
    class="
      options-menu
      top-14
      right-8
      border-dark/60
      absolute
      z-50
      flex flex-col
      bg-light
      border-4 border-solid
      rounded-md
    "
    *ngIf="!isHidden"
  >
    <a class="option border-dark/30 border-b-2 border-solid">
      <span class="material-icons icon text-xl">settings</span>Edit</a
    >
    <a role="button" (click)="deleteRecipe()" class="option">
      <span class="material-icons icon text-xl">delete</span>Delete</a
    >
  </div>
</div>
