<div
  class="
    recipe-view-wrapper
    w-full
    h-full
    bg-dark/10
    rounded-2xl
    p-5
    flex
    gap-16
  "
>
  <div class="recipe-header w-1/4 h-full flex flex-col items-center">
    <div
      class="recipe-img-wrapper w-full pt-full bg-green-600 rounded-xl"
    ></div>
    <div
      class="
        recipe-summary
        flex flex-col
        my-auto
        justify-between
        h-1/2
        max-h-72
      "
    >
      <ng-container *ngIf="recipe">
        <h3 class="text-4xl font-extrabold text-center mb-6">
          {{ recipe.title }}
        </h3>
      </ng-container>
      <div class="recipe-serving-size text-lg font-semibold text-center">
        4 servings
      </div>
      <div class="recipe-times">
        <div class="recipe-prep-time text-lg font-semibold text-center">
          PREP: 20 minutes
        </div>
        <div class="recipe-cook-time text-lg font-semibold text-center">
          COOK: 25 minutes
        </div>
        <div class="recipe-total-time text-lg font-semibold text-center">
          TOTAL: 45 minutes
        </div>
      </div>
      <div class="recipe-tags text-lg font-semibold text-center">
        Chicken, Pasta, Gluten Free
      </div>
    </div>
  </div>

  <div class="recipe-detail flex-grow pr-16">
    <div
      class="
        recipe-ingredients
        flex flex-col
        pt-5
        pb-5
        border-b-2
        solid
        border-dark/30
      "
    >
      <div class="recipe-ingredients-title text-xl font-semibold uppercase">
        Ingredients:
      </div>
      <ul class="recipe-ingredient-list w-full px-5 pt-3">
        <li class="ingredient">Ingredient 1</li>
        <li class="ingredient">Ingredient 2</li>
        <li class="ingredient">Ingredient 3</li>
        <li class="ingredient">Ingredient 4</li>
        <li class="ingredient">Ingredient 5</li>
      </ul>
    </div>

    <div
      class="
        recipe-steps
        flex flex-col
        pt-5
        pb-5
        border-b-2
        solid
        border-dark/30
      "
    >
      <div class="recipe-steps-title text-xl font-semibold uppercase">
        Steps:
      </div>
      <ul class="recipe-step-list w-full px-5 pt-3">
        <li class="step">Step 1</li>
        <li class="step">Step 2</li>
        <li class="step">Step 3</li>
        <li class="step">Step 4</li>
        <li class="step">Step 5</li>
      </ul>
    </div>

    <div class="recipe-notes flex flex-col pt-5 pb-5">
      <div class="recipe-notes-title text-xl font-semibold uppercase">
        Notes:
      </div>
      <ul class="recipe-note-list w-full px-5 pt-3">
        <li class="note">Note 1</li>
        <li class="note">Note 2</li>
        <li class="note">Note 3</li>
        <li class="note">Note 4</li>
        <li class="note">Note 5</li>
      </ul>
    </div>
  </div>
</div>
